.cardCentered {
    max-width: 400px;
    margin: 0 auto;
}

.width100 {
    width: 100%;
}

input {
    font-size: 18px;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
}
